body {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
}

.padding {

    padding-left: 20px;
    padding-right: 20px;
}

.header {
    text-align: center;
}

.header-info {
    font-size: large;
    font-weight: bold;
    padding: 16px 10px;
    background: #3d60af;
    color: #e6e6e6;
}

.nav-links a {
    display: inline-block;
    float: none;
    border-bottom: 4px solid transparent;
    padding: 6px 12px;
    text-decoration: none;
    color: #555;
}

.nav-links a.active {
    border-bottom-color: #6597ca;
}

.centered_tab {
    float: none;
    display: inline-block;
}

.menu {
    padding: 16px;
}

.menu-link-item {
    color: #5b7ecc;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

a.menu-link-item:focus, a.menu-link-item:hover {
    text-decoration: none;
    color: #5b7ecc;
}

.menu-link-item.active {
    border-bottom: 3px solid #3d60af;
}

.selected-row {
    color: white;
}

.m-10 {
    margin: 10px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup, .dropdown {
    position: relative;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.center {
    margin: auto;
    width: 100%;
    padding-top: 20%;
    padding-left: 45%;
    align-items: center;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.5); !* Black background with opacity *!*/
    background-color: #3d60af;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    text-align: center;
}